node_modules/

Thumbs.db
ehthumbs.db

*.DS_Store
.AppleDouble
.LSOverride
Icon
*~
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.fuse_hidden*
.directory
.Trash-*
